__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
.venv
env.bak/
venv.bak/
.ipynb_checkpoints/
static/uploads/*
!static/uploads/.gitkeep
.DS_Store
*.so
.idea/
.vscode/
*.log 